<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DishName</key>
		<string>Pork Sauce Noodle</string>
		<key>Description</key>
		<string>Noodle mix with chopped pork soy bean sauce (salty and sweet)</string>
		<key>URL</key>
		<string>https://redirector.googlevideo.com/videoplayback?ip=2600%3A3c01%3A%3Af03c%3A91ff%3Afe24%3Ab564&amp;lmt=1470964406993739&amp;dur=237.191&amp;pl=33&amp;source=youtube&amp;mv=m&amp;ei=zsbRWJ79FtHz-gP00pmgAw&amp;ms=au&amp;mm=31&amp;mn=sn-n4v7sn7y&amp;id=o-AMEGsv2u1-IRney3Kyo8Hb6U2Xw3PhcHCa8KymQ0j9-g&amp;key=yt6&amp;sparams=dur%2Cei%2Cid%2Cinitcwndbps%2Cip%2Cipbits%2Citag%2Clmt%2Cmime%2Cmm%2Cmn%2Cms%2Cmv%2Cpl%2Cratebypass%2Crequiressl%2Csource%2Cupn%2Cexpire&amp;expire=1490164526&amp;upn=yR-oQTumpuw&amp;mt=1490142804&amp;itag=22&amp;ratebypass=yes&amp;ipbits=0&amp;initcwndbps=4637500&amp;mime=video%2Fmp4&amp;signature=C9D5C7719CA598616239A25C198F97F15D6B3927.6FFC0B783D4219C51B4FB3B776608B5C7EF19D37&amp;requiressl=yes</string>
		<key>RecipeList</key>
		<array>
			<string>Pork Sauce Noodle</string>
			<string>Noodle mix with chopped pork soy bean sauce (salty and sweet)</string>
			<string>Ingredient/Materials:</string>
			<string>pork, thick broad-bean sauce, oil, garlic, and noodle</string>
			<string>Steps:</string>
			<string>Heat a tablespoon oil in your wok over medium heat and add the pork fat (if using). Cook for 1 minute to render the fat down, and add the marinated ground pork to the wok. Cook for a minute to brown it, and then add the ginger and garlic. Add the sweet bean sauce, bean paste, dark soy sauce, and water, stirring everything together well. Lower the heat and cover the wok. Simmer the sauce for 15-20 minutes, stirring occasionally to prevent sticking. Finally stir sause with noodle.</string>
		</array>
	</dict>
	<dict>
		<key>DishName</key>
		<string>Pasta</string>
		<key>Description</key>
		<string>Noodle (Sweet and Sour)</string>
		<key>URL</key>
		<string>https://redirector.googlevideo.com/videoplayback?ratebypass=yes&amp;itag=22&amp;mt=1490147602&amp;initcwndbps=5917500&amp;mime=video%2Fmp4&amp;ipbits=0&amp;key=yt6&amp;upn=7XFDhjW1Af8&amp;sparams=dur%2Cei%2Cid%2Cinitcwndbps%2Cip%2Cipbits%2Citag%2Clmt%2Cmime%2Cmm%2Cmn%2Cms%2Cmv%2Cpl%2Cratebypass%2Crequiressl%2Csource%2Cupn%2Cexpire&amp;expire=1490169330&amp;mv=m&amp;source=youtube&amp;ms=au&amp;ei=ktnRWJWiI-bN-APIurKYDg&amp;lmt=1471061328493515&amp;ip=2600%3A3c01%3A%3Af03c%3A91ff%3Afe24%3Ab564&amp;pl=33&amp;dur=211.394&amp;mn=sn-n4v7sn7y&amp;mm=31&amp;id=o-ADM2MTSD1pZTfSbHdCO0toAL4kpb0POn36bhXOnKBvqU&amp;signature=1A519372B2BED679E3F87D7A9FAD8EED8A9E0106.D7DBF9BAEDC3D89AA06BAC5047C693AAB519E1C6&amp;requiressl=yes</string>
		<key>RecipeList</key>
		<array>
			<string>Pasta</string>
			<string>Noodle (Sweet and Sour)</string>
			<string>Ingredient/Materials:</string>
			<string>Italian noodle, tomatos, ketchup, pork chops, onion, and oil</string>
			<string>Steps:</string>
			<string>Boil the noodle in hot water with salt. Then add some olive oil to stir. Put oil into pot, add tomatos, onions, pork chops to fry. When tomato become soft, add some ketchup if needed. Finally add pasta sause into noodle. </string>
		</array>
	</dict>
	<dict>
		<key>DishName</key>
		<string>Beef Steak</string>
		<key>Description</key>
		<string>Beef (grill and roast)</string>
		<key>URL</key>
		<string>https://redirector.googlevideo.com/videoplayback?initcwndbps=5917500&amp;pl=33&amp;expire=1490169381&amp;requiressl=yes&amp;mime=video%2Fmp4&amp;ratebypass=yes&amp;ipbits=0&amp;upn=wsWJVwimrUE&amp;itag=22&amp;ms=au&amp;ei=xdnRWPfpL4-w-gOUxrKAAQ&amp;id=o-AKBzi7nooWiVPzKDlOEwNb4tKBxGZUO8X16IE8svr4CI&amp;mv=m&amp;mt=1490147662&amp;dur=161.610&amp;lmt=1471553705372233&amp;source=youtube&amp;mm=31&amp;key=yt6&amp;ip=2600%3A3c01%3A%3Af03c%3A91ff%3Afe24%3Ab564&amp;mn=sn-n4v7sn7z&amp;sparams=dur%2Cei%2Cid%2Cinitcwndbps%2Cip%2Cipbits%2Citag%2Clmt%2Cmime%2Cmm%2Cmn%2Cms%2Cmv%2Cpl%2Cratebypass%2Crequiressl%2Csource%2Cupn%2Cexpire&amp;signature=B303C7AA1137CE6F14811DCBC97F77C383733640.C0C472C28956E44DFC4BDAC26CC6A11C3811B85E</string>
		<key>RecipeList</key>
		<array>
			<string>Beef Steak</string>
			<string>Beef (grill and roast)</string>
			<string>Ingredient/Materials:</string>
			<string>steak, marinade, salt, and barbecue sauce</string>
			<string>Steps:</string>
			<string>Use the back of a knife blade to scatter the beef steak. Then put salt and marinade on steak and pickle for 15 minutes. Bake steak in the oven for 15 to 20 minutes, or fry in the bakeware. 140° F (60° C) = Medium; 160° F (71.1° C) = Well done.</string>
		</array>
	</dict>
	<dict>
		<key>DishName</key>
		<string>Fried Rice</string>
		<key>Description</key>
		<string>Rice (sweet and little salty)</string>
		<key>URL</key>
		<string>https://redirector.googlevideo.com/videoplayback?ei=RNnRWIf0GY20_AOUlbb4Ag&amp;lmt=1471152828114332&amp;sparams=dur%2Cei%2Cid%2Cinitcwndbps%2Cip%2Cipbits%2Citag%2Clmt%2Cmime%2Cmm%2Cmn%2Cms%2Cmv%2Cpl%2Cratebypass%2Crequiressl%2Csource%2Cupn%2Cexpire&amp;ms=au&amp;id=o-AE3NYqtU2mS_l06GR3S7Flj3Fls9m68qpLR9Oypc89h-&amp;mv=m&amp;mt=1490147543&amp;expire=1490169252&amp;requiressl=yes&amp;mime=video%2Fmp4&amp;ip=2600%3A3c01%3A%3Af03c%3A91ff%3Afe24%3Ab564&amp;pl=33&amp;mn=sn-n4v7sn7y&amp;mm=31&amp;source=youtube&amp;itag=22&amp;upn=fIaR5wCnHDk&amp;key=yt6&amp;ratebypass=yes&amp;ipbits=0&amp;initcwndbps=5478750&amp;dur=204.660&amp;signature=D225F26466D33498291BB6371A3F6B4EE60275E5.7385998E96B74BEDC00AD5010678F13D96135E16</string>
		<key>RecipeList</key>
		<array>
			<string>Fried Rice</string>
			<string>Rice (sweet and little salty)</string>
			<string>Ingredient/Materials:</string>
			<string>steamed rice, one egg, oil, salt, soy sause and some vegetable if needed</string>
			<string>Steps:</string>
			<string>Add oil in the pot, then put egg liquid into pot fry to solid egg. Add rice and vegetables into pot stir together. Finally add some soy sauce, salt and olive oil. </string>
		</array>
	</dict>
	<dict>
		<key>DishName</key>
		<string>Orange Chicken</string>
		<key>Description</key>
		<string>Chicken breast (sweet and sour)</string>
		<key>URL</key>
		<string>https://redirector.googlevideo.com/videoplayback?pl=33&amp;ei=pMbRWKfYIuSh-AOJooOQAg&amp;upn=53XCle44r6U&amp;ipbits=0&amp;mn=sn-n4v7sn7z&amp;mm=31&amp;gir=yes&amp;id=o-AMCNa5FRZjNZgEzCkd22qqjsjIIf6T14pMlxUrpVY2qp&amp;initcwndbps=4637500&amp;signature=2299829F151AC56314AA287355699E4C4879319C.506C63ACBA5D7069C11DE627FC9A349C80508610&amp;source=youtube&amp;mv=m&amp;mt=1490142804&amp;ms=au&amp;lmt=1486694079392427&amp;dur=95.851&amp;clen=6685603&amp;key=yt6&amp;mime=video%2Fmp4&amp;sparams=clen%2Cdur%2Cei%2Cgir%2Cid%2Cinitcwndbps%2Cip%2Cipbits%2Citag%2Clmt%2Cmime%2Cmm%2Cmn%2Cms%2Cmv%2Cpl%2Cratebypass%2Crequiressl%2Csource%2Cupn%2Cexpire&amp;expire=1490164484&amp;ip=2600%3A3c01%3A%3Af03c%3A91ff%3Afe24%3Ab564&amp;requiressl=yes&amp;itag=18&amp;ratebypass=yes</string>
		<key>RecipeList</key>
		<array>
			<string>Orange Chicken</string>
			<string>Chicken breast (sweet and sour)</string>
			<string>Ingredient/Materials:</string>
			<string>Chincken breast, oil, soy sauce, vinegar, sugar, flour, salt, and bell peppers</string>
			<string>Steps:</string>
			<string>Slice the chincken breast to little cube, then use cooking wine and flour to pickle chincken breast for 20 minutes. Heat the pot and put half pot oil, then put chicken breast to fry till golden and take out into plate. Then add oil into new pot and put vinegar, soy sause, and bell peppers to fry together. After peppers become soft, add fried chicken into pot. Finally add some sugar and salt till flavour become sweet and sour.</string>
		</array>
	</dict>
	<dict>
		<key>DishName</key>
		<string>Kong Bao Chicken</string>
		<key>Description</key>
		<string>Chincken breast (spicy)</string>
		<key>URL</key>
		<string>https://redirector.googlevideo.com/videoplayback?mm=31&amp;mn=sn-n4v7sn7s&amp;id=o-AKL0qDkQA_45EyG55vyabn_PDxIl0UsW_oWbYbAGmT-m&amp;source=youtube&amp;mv=m&amp;ei=-sXRWLmzLYax-wOnyImQDQ&amp;ms=au&amp;ip=2600%3A3c01%3A%3Af03c%3A91ff%3Afe24%3Ab564&amp;lmt=1471966292857396&amp;dur=55.402&amp;pl=33&amp;upn=m_mS1WXpdfw&amp;sparams=dur%2Cei%2Cid%2Cinitcwndbps%2Cip%2Cipbits%2Citag%2Clmt%2Cmime%2Cmm%2Cmn%2Cms%2Cmv%2Cpl%2Cratebypass%2Crequiressl%2Csource%2Cupn%2Cexpire&amp;expire=1490164314&amp;key=yt6&amp;initcwndbps=5636250&amp;mime=video%2Fmp4&amp;ipbits=0&amp;ratebypass=yes&amp;itag=22&amp;mt=1490142624&amp;requiressl=yes&amp;signature=2225467DB9F502AFDFBDBAB13D175C27EED0CB68.7C381D3062330AD22D38983C356E451D872E153B</string>
		<key>RecipeList</key>
		<array>
			<string>Kong Bao Chicken</string>
			<string>Chincken breast (spicy)</string>
			<string>Ingredient/Materials:</string>
			<string>1 pound of boneless skinless chicken breast or thigh, soy sauce, oil, roasted peanuts, garlic, vinegar, crushed red pepper flakes, ginger, two bell peppers</string>
			<string>Steps:</string>
			<string>Use ginger and cooking wine to pickle the chicken for 20 minutes. Then slice the garlic, and tiny red chilis, and bell pepper into square. Then heat pot with oil, put garlic and chili first, and put chicken into pot to fry together. Add roasted peanuts and stir. Then put sliced bell peppers and add some salt, soy sauce and vinegar. Finally wait sauce be absorbed.</string>
		</array>
	</dict>
	<dict>
		<key>DishName</key>
		<string>Fried Cabbage</string>
		<key>Description</key>
		<string>Vege with chili(spicy and salty) or Vege with tomato (sweet and sour)</string>
		<key>URL</key>
		<string>https://redirector.googlevideo.com/videoplayback?ip=2600%3A3c01%3A%3Af03c%3A91ff%3Afe24%3Ab564&amp;itag=18&amp;lmt=1408088041808143&amp;requiressl=yes&amp;id=o-AI4lXTo0rzwKNK9rRIbxy__qmm8nW4OXu9B3VwamcpAv&amp;source=youtube&amp;dur=177.795&amp;key=yt6&amp;mm=31&amp;mn=sn-n4v7sn7z&amp;mt=1490142862&amp;mv=m&amp;pl=33&amp;ei=8sbRWImRNs_l-gO7w7XoCg&amp;ms=au&amp;signature=C2444DDB00C52495081901FAEB01A6B25A712C55.9EE5A5F2AE7078B9AA5952313F49F14F0F09133F&amp;clen=13577531&amp;sparams=clen%2Cdur%2Cei%2Cgir%2Cid%2Cinitcwndbps%2Cip%2Cipbits%2Citag%2Clmt%2Cmime%2Cmm%2Cmn%2Cms%2Cmv%2Cpl%2Cratebypass%2Crequiressl%2Csource%2Cupn%2Cexpire&amp;beids=%5B9466591%5D&amp;gir=yes&amp;mime=video%2Fmp4&amp;upn=WXlmb0kqpLc&amp;initcwndbps=4637500&amp;ipbits=0&amp;ratebypass=yes&amp;expire=1490164562</string>
		<key>RecipeList</key>
		<array>
			<string>Fried Cabbage</string>
			<string>Vege with chili(spicy and salty) or Vege with tomato (sweet and sour)</string>
			<string>Ingredient/Materials:</string>
			<string>Cabbage, red dry chili, garlic, soy sauce, salt, and oil</string>
			<string>Steps:</string>
			<string>Slice the cabbage and garlic. Then put oil into pot, and wait for oil heat. Add garlic and chili into pot. Add cabbage into pot and fry together. Finally add soy sauce and salt to adjust flavour.</string>
		</array>
	</dict>
</array>
</plist>
